* {
  scrollbar-width: thin;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

a.external-link::after {
  content: " \2197";
}

code[dir="auto"] {
  color: var(--cui-fg-normal);
  background-color: var(--cui-bg-subtle);
  padding: 0 var(--cui-spacings-bit);
  border-radius: var(--cui-border-radius-bit);
  border: var(--cui-border-width-kilo) solid var(--cui-border-subtle);
  font-size: 0.9em;
}
