.section {
  margin: var(--cui-spacings-kilo) 0;
  width: 100%;
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: var(--cui-spacings-byte);
  padding: var(--cui-spacings-micro) var(--cui-spacings-kilo);
  border: var(--cui-border-width-kilo) solid var(--cui-border-normal);
  border-radius: var(--cui-border-radius-byte);
  background: var(--cui-bg-normal);
  color: var(--cui-fg-normal);
  cursor: pointer;
}
